* {
    -fx-surface-color: #121318;
    -fx-surface-container-color: #1f1f25;
    -fx-surface-text-color: #e3e1e9;

    -fx-surface-color-bright: #38393f;
    -fx-primary-color: #b7c4ff;
    -fx-primary-text-color: #1f2d61;

    -fx-primary-container-color: #273054;
    -fx-primary-container-text-color: #dde1ff;

    -fx-secondary-container-color: #1a3d25;
    -fx-secondary-container-text-color: #a8f2ce;

    -fx-error-color: #f5b3b3;
    -fx-error-color-background: #4b3137;
    -fx-error-text-color: #f5b3b3;
}

.scene {
    -fx-background-color: -fx-surface-color;
    background-color: -fx-surface-color; /* Used in the default.html file */

    -fx-text-fill: -fx-surface-text-color;
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-opacity: 0.9;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

.tab-pane {
    -fx-padding: 0 0 0 1;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}

.table-view {
    -fx-base: -fx-surface-color;
    -fx-control-inner-background: -fx-surface-color;
    -fx-background-color: -fx-surface-color;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal .split-pane-divider {
    -fx-background-color: -fx-surface-color;
    -fx-border-color: transparent transparent transparent transparent;
}

.split-pane {
    -fx-border-radius: 1;
    -fx-border-width: 1;
    -fx-background-color: -fx-surface-color;
}

.list-heading {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: -fx-surface-text-color;

    /* Margins */
    -fx-padding: 8 4;
    -fx-border-insets: 8 4;
    -fx-background-insets: 8 4;
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: -fx-surface-color;
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;

    /* Margins */
    -fx-padding: 4 0;
    -fx-border-insets: 4 0;
    -fx-background-insets: 4 0;

    -fx-background-radius: 4;
}

.list-cell:filled {
    -fx-background-color: transparent, -fx-surface-container-color;
}

.list-cell:filled .label {
    -fx-text-fill: -fx-surface-text-color;
}

.list-cell:filled:selected {
    -fx-background-color: transparent, -fx-primary-container-color;
    -fx-text-fill: -fx-primary-container-text-color;
}

.list-cell-big-label {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 16px;
}

.list-cell-small-label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 13px;
}

.list-cell-medium-label {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 14px;
}

.latest-log-card {
    -fx-background-color: -fx-secondary-container-color;
    -fx-background-radius: 4;
    -fx-padding: 10, 5, 5, 0;
}

.latest-log-card .label {
    -fx-text-fill: -fx-secondary-container-text-color;
}

.latest-log-card-disabled {
    -fx-background-color: -fx-surface-color-bright;
    -fx-text-fill: -fx-surface-text-color;
    -fx-background-radius: 4;
    -fx-padding: 10, 5, 5, 0;
}

.stack-pane {
     -fx-background-color: -fx-surface-color;
}

.pane-with-border {
     -fx-background-color: -fx-surface-color;
}

.status-bar {
    -fx-background-color: -fx-surface-color;
}

.result-display {
    -fx-background-color: -fx-surface-color-bright;
    -fx-background-radius: 4;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: -fx-surface-text-color;
    -fx-wrap-text: true;
}

.result-display-error {
    -fx-background-color: -fx-error-color-background !important;
    -fx-text-fill: -fx-error-text-color !important;
}

.result-display .content {
    -fx-background-color: -fx-surface-color-bright;
    -fx-background-radius: 4;
}

.result-display .scroll-pane {
    -fx-background-color: transparent;
}
.result-display .scroll-pane .viewport{
    -fx-background-color: transparent;
}
.result-display .scroll-pane .content{
    -fx-background-color: transparent;
}

.result-display .scroll-bar .thumb {
    -fx-background-color: -fx-surface-color;
}

.status-bar .label {
    -fx-font-family: "Segoe UI Light";
    -fx-padding: 4px;
    -fx-pref-height: 30px;
    -fx-text-fill: -fx-surface-text-color;
}

.status-bar-with-border {
    -fx-background-color: -fx-surface-color;
}

.status-bar-with-border .label {
}

.grid-pane {
    -fx-background-color: -fx-surface-color;
}

.grid-pane .stack-pane {
    -fx-background-color: -fx-surface-color;
}

.context-menu {
    -fx-background-color: -fx-surface-container-color;
}

.context-menu .label {
}

.menu-bar {
    -fx-background-color: -fx-surface-color;
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-opacity: 0.9;
    -fx-text-fill: -fx-surface-text-color;
}

.menu .left-container {
    -fx-background-color: black;
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: -fx-surface-color;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: -fx-surface-color;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: -fx-surface-color;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color, 20%);
}

.dialog-pane {
    -fx-background-color: -fx-surface-color;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: -fx-surface-color;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: -fx-surface-color;
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: white;
}

.scroll-bar {
    -fx-background-color: transparent;
}

.scroll-bar .thumb {
    -fx-background-color: -fx-surface-color-bright;
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

#cardPane {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

#commandTextField {
    -fx-background-color: -fx-surface-color-bright;
    -fx-border-color: -fx-surface-color-bright -fx-surface-color-bright white -fx-surface-color-bright;

    /* Only round the top corners */
    -fx-background-radius: 4 4 0 0;
    -fx-border-radius: 4 4 0 0;

    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: -fx-surface-text-color;
}

#commandTextField:hover {
    -fx-background-color: derive(-fx-surface-color-bright, 10%);
}

#commandTextField:focused {
    -fx-border-color: -fx-surface-color-bright -fx-surface-color-bright -fx-primary-color -fx-surface-color-bright;
}

#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label {
    -fx-background-color: -fx-primary-color;

    -fx-font-size: 11;
    -fx-text-fill: -fx-primary-text-color;

    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
}
